
body {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
  }

  app-root {
    display: block;
    box-sizing: border-box;
    padding: 30px;
  }
  
